<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/bar-style.css' | relative_url }}">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/ahri-bot.js' | relative_url }}", type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
	<link rel="icon" href="{{ 'assets/images/AhriBotfavicon.png' | relative_url}}" type="image/x-icon" />
    <script>
		$(document).ready(function () {
		$.getJSON("https://api.jsonbin.io/b/5e1ea24db236b871b3621d94/latest", function (json) {
			var bad_solution = document.getElementById("proudly-used-by-loading-servers");
			var server_container = bad_solution.childNodes[1];
			server_container.setAttribute("style", "color: #ff9b0f;");
			server_container.innerHTML = json.servers;
		})
	});
	
       $(document).ready(function () {
         $('#main_content').headsmart()
       });
	   $(window).load(function () {
		$(".trigger_popup_fricc").click(function(){
		   $('.hover_bkgr_fricc').show();
		});
		$('.popupCloseButton').click(function(){
			$('.hover_bkgr_fricc').hide();
		});
		});
		$(document).ready(function (){
			var url = window.location.href
			var ECC = url.split("#")[1]
			if (ECC != undefined) {
				$('.hover_bkgr_fricc').show();
				var EK = CookieCheck('ECC')
				}
			else {
				var EK = CookieCheck('ECC')
			}
			if (EK == undefined) {
				var Expiration = new Date();
				Expiration.setTime(Expiration.getTime() + 120000);
				var expires = "expires=" + Expiration.toUTCString();
				document.cookie = "ECC=" + ECC + ";" + expires + "path=/;"
			}
			var NEK = CookieCheck('ECC')
			var DL, ID, K = DEC(NEK)
		});
    </script>
	<div id="container">
		<div class="verdana borderg textcenter txwhite tbsize bovr borderd">
			<div class="lazy newimage">
				<a href="{{ site.url }}" >
				<img src="https://cdn.discordapp.com/attachments/593493405313663042/667510744752848896/AhriBot.png" width="80" height="80">
				</a>
			</div>
			<div class="txtcon">
				<h3 style=margin-top:32px;>
					<span style=padding:50px; class="txth" onclick="GoPage('https://discordapp.com/api/oauth2/authorize?client_id=659987132986818560&permissions=268958832&scope=bot', tab=true)">Add to Server</span>
					<span style=padding:50px; class="txth" onclick="GoPage('help.html')">Command Help</span>
					<span style=padding:50px; class="txth" onclick="GoPage('https://www.patreon.com/ahribot', tab=true)">Donate</span>
					<span style=padding:50px; class="txth" onclick="CheckAhri()", tab=true">Test</span>
				</h3>
			</div>
		</div>
		
	<div class="hover_bkgr_fricc">
		<span class="helper">SID</span>
		<div>
			<div class="popupCloseButton">&times;</div>
			<h2 class="header-level-2">Upload Highlights!</h2>
			<div id="drop_zone">
				<p>Drop Files Here<br>or</p>
				<input type="file" id="files" name="files[]" class="dead" accept="video/*" multiple />
				<label for="files"><p class="Bfiles">Browse Files</p></label>
			</div>
			<output id="list"></output>
		</div>
	</div>

{% seo %}
	



  </head>

  <body class="noscroll">
    <div class="shell">

      <section id="main_content">
        {{ content }}
      </section>

      <footer>
        <p>Generated with <a href="https://pages.github.com">GitHub Pages</a> using Merlot</p>
        <span class="octocat"></span>
		<p>Ahri Bot isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
      </footer>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
  <div class="stick imgright">
		<a href="https://discordapp.com/invite/RnCnj2p" target="_blank">
		<img src="https://discordapp.com/api/guilds/664978091382276127/widget.png?style=shield">
		</a>
   </div>
   <script>
		if (window.File && window.FileReader && window.FileList && window.Blob) {
		  // Great success! All the File APIs are supported.
		} else {
		  alert('The File APIs are not fully supported in this browser.');
		}
		var output = [];
		function handleFileSelect(evt) {
			evt.stopPropagation();
			evt.preventDefault();

			var files = evt.dataTransfer.files; // FileList object.
			// files is a FileList of File objects. List some properties.
			
			for (var i = 0, f; f = files[i]; i++) {
			  output.push('<li><strong>', escape(f.name), '</strong> - ',
						  f.size, ' bytes, last modified: ',
						  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
						  '</li>');
			}
			console.log(f.size)
			//10,517,814
			
			
			document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
		  }

		function handleDragOver(evt) {
			evt.stopPropagation();
			evt.preventDefault();
			evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
		}

		  // Setup the dnd listeners.
		var dropZone = document.getElementById('drop_zone');
		dropZone.addEventListener('dragover', handleDragOver, false);
		dropZone.addEventListener('drop', handleFileSelect, false);
		  
		function handleFileSelect2(evt) {
			var files = evt.target.files; // FileList object

			for (var i = 0, f; f = files[i]; i++) {
				output.push('<li><strong>', escape(f.name), '</strong> - ',
					f.size, ' bytes, last modified: ',
					f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
					'</li>');
			}
			document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
		}

		document.getElementById('files').addEventListener('change', handleFileSelect2, false);
		  
	</script>
</html>
